body {
	background-image: url("../images/bttf640.jpg");
	background-repeat: no-repeat;
    background-color: black; 
    margin-top: 20px; 
    margin-left: 645px;
    color: white;
    font-family: 'Droid Serif', serif;
}
